<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (shipment(); as shipmentRef) {
      <div>
        <h2 data-cy="shipmentDetailsHeading"><span jhiTranslate="onlineStoreApp.shipment.detail.title">Shipment</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ shipmentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="onlineStoreApp.shipment.trackingCode">Tracking Code</span></dt>
          <dd>
            <span>{{ shipmentRef.trackingCode }}</span>
          </dd>
          <dt><span jhiTranslate="onlineStoreApp.shipment.date">Date</span></dt>
          <dd>
            <span>{{ shipmentRef.date | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="onlineStoreApp.shipment.details">Details</span></dt>
          <dd>
            <span>{{ shipmentRef.details }}</span>
          </dd>
          <dt><span jhiTranslate="onlineStoreApp.shipment.invoice">Invoice</span></dt>
          <dd>
            @if (shipment()!.invoice) {
              <div>
                <a [routerLink]="['/invoice', shipment()!.invoice?.id, 'view']">{{ shipmentRef.invoice?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/shipment', shipmentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
