<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (customer(); as customerRef) {
      <div>
        <h2 data-cy="customerDetailsHeading"><span jhiTranslate="onlineStoreApp.customer.detail.title">Customer</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ customerRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="onlineStoreApp.customer.firstName">First Name</span></dt>
          <dd>
            <span>{{ customerRef.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="onlineStoreApp.customer.lastName">Last Name</span></dt>
          <dd>
            <span>{{ customerRef.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="onlineStoreApp.customer.gender">Gender</span></dt>
          <dd>
            <span [jhiTranslate]="'onlineStoreApp.Gender.' + (customerRef.gender ?? 'null')">{{
              { null: '', MALE: 'MALE', FEMALE: 'FEMALE' }[customerRef.gender ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="onlineStoreApp.customer.email">Email</span></dt>
          <dd>
            <span>{{ customerRef.email }}</span>
          </dd>
          <dt><span jhiTranslate="onlineStoreApp.customer.phone">Phone</span></dt>
          <dd>
            <span>{{ customerRef.phone }}</span>
          </dd>
          <dt><span jhiTranslate="onlineStoreApp.customer.addressLine1">Address Line 1</span></dt>
          <dd>
            <span>{{ customerRef.addressLine1 }}</span>
          </dd>
          <dt><span jhiTranslate="onlineStoreApp.customer.addressLine2">Address Line 2</span></dt>
          <dd>
            <span>{{ customerRef.addressLine2 }}</span>
          </dd>
          <dt><span jhiTranslate="onlineStoreApp.customer.citry">Citry</span></dt>
          <dd>
            <span>{{ customerRef.citry }}</span>
          </dd>
          <dt><span jhiTranslate="onlineStoreApp.customer.country">Country</span></dt>
          <dd>
            <span>{{ customerRef.country }}</span>
          </dd>
          <dt><span jhiTranslate="onlineStoreApp.customer.fullName">Full Name</span></dt>
          <dd>
            <span>{{ customerRef.fullName }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/customer', customerRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
